<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> หน้าแรก</h1>
      <p>ข้อมูลเกี่ยวกับบริษัท</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a >หน้าแรก</a></li>
    </ul>
  </div>


  <div class="row">
    <div class="col-md-10">
      <div class="tile">
        <h3 class="tile-title">
            <img align="middle" src="assets/images/eastinnologo300.png/">

        </h3>
        <hr>
        <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/agG49DbTLEI"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe></div>

        &nbsp;
        &nbsp;
        &nbsp;
        <p><li>บริษัท อีสท์อินโนเวชั่น จำกัด ก่อตั้งขึ้นด้วยความร่วมมือกันระหว่างทีมวิศวกร การสื่อสารและผู้เชี่ยวชาญด้านเทคโนโลยีสารสนเทศ ซึ่งมีประสบการณ์ในระบบ GPS Tracking และ GPS Fleet Management มากกว่า 10 ปี โดยมีวัตถุประสงค์เพื่อให้บริการด้านระบบติดตามและจัดการยานพาหนะผ่านดาวเทียม (GPS) รวมทั้งระบบบริหารการขนส่งแบบครบวงจร ตั้งแต่การวิจัยพัฒนา การผลิตสินค้า การขายและการติดตั้ง รวมถึงการบริการหลังการขาย.</li></p>
        <p><li>ทั้ง นี้คณะผู้ก่อตั้งได้เล็งเห็นถึงความสำคัญในการเพิ่มประสิทธิภาพการทำงาน ของยานพาหนะ การลดความเสี่ยงจากการเกิดอุบัติเหตุ รวมถึงการควบคุมค่าใช้จ่ายที่ไม่จำเป็นจากการใช้รถที่ไม่เหมาะสม เช่น การขับรถออกนอกเส้นทางที่กำหนด การจอดรถติดเครื่องยนต์เป็นเวลานาน เป็นต้น โดยระบบนี้เหมาะกับทั้งองค์กรขนาดเล็กและขนาดใหญ่ที่ต้องการลดค่าใช้จ่ายใน การขนส่ง การขาย และการบริการ ต้องการลดค่าน้ำมันเชื้อเพลิงในการเดินทาง และเพิ่มประสิทธิภาพในการส่งมอบสินค้าให้ตรงเวลา.</li></p>
        <p><li>และ ในปัจจุบันบริษัทฯ ได้เข้าร่วมโครงการธุรกิจซอฟต์แวร์ กับ Software Park Thailand โดยบริษัทฯ จะได้รับการถ่ายทอดความรู้ต่างๆ รวมถึงการแบ่งปันองค์ความรู้ของบริษัทให้แก่ธุรกิจอื่น ที่อยู่ภายในกลุ่ม ซึ่งเห็นได้ชัดว่า เรา เป็นองค์กรที่มีคุณภาพและมีศักยภาพในการเติบโตจึงได้รับการคัดเลือกให้เข้า ร่วมโครงการกับทาง Software Park Thailand โดยทางบริษัทฯ ขอขอบคุณทาง Software Park Thailand ที่ให้การสนับสนุน ไว้ ณ ที่นี้ด้วย.</li></p>

        <p class="mt-4 mb-4"><a class="btn btn-primary mr-2 mb-2" href="http://pratikborsadiya.in/blog/vali-admin" target="_blank"><i class="fa fa-file"></i>Docs</a><a class="btn btn-success mr-2 mb-2" href="https://github.com/pratikborsadiya/vali-admin/archive/master.zip" target="_blank"><i class="fa fa-download"></i>Download</a></p>
      </div>
    </div>

  </div>
</app-auth-content>

