<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar" >
    <div *ngIf="userLogin"class="app-sidebar__user">
        <img *ngIf="userLogin.partImage" class="app-sidebar__user-avatar" [src]="userLogin.partImage" alt="User Image">
        <img *ngIf="!userLogin.partImage" class="app-sidebar__user-avatar" src="assets/images/no-image-profile.png" alt="User Image">
        <div class= "app-sidebar-ud">
            <p class="app-sidebar__user-name">
              {{ userLogin.firstName }} {{ userLogin.lastName }}
            </p>
            <p class="app-sidebar__user-designation">{{ userLogin.position }}</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item " routerLinkActive = 'is-expanded'  [routerLink]="['/', AppURL.Authen, AuthURL.Dashboard]"><i class="app-menu__icon fa fa-dashboard"></i><span
                    class="app-menu__label">หน้าแรก</span></a></li>
        <li *ngIf="userLogin.role == Role.Owner" class="treeview" routerLinkActive = 'is-expanded'>
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">พนักงาน</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu" routerLinkActive = 'is-expanded'>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Employee] " routerLinkActive = 'active'>
                        <i class="icon fa fa-circle-o"></i> รายชื่อพนักงาน
                    </a>
                </li>

            </ul>
        </li>
        <li *ngIf="userLogin.role != Role.Member" class="treeview" routerLinkActive = 'is-expanded'>
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">ฐานผู้ใช้</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu" routerLinkActive = 'is-expanded'>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Member] " routerLinkActive = 'active'>
                        <i class="icon fa fa-circle-o"></i> รายชื่อผู้ใช้
                    </a>
                </li>

            </ul>
        </li>
        <li *ngIf="userLogin.role == Role.Admin" class="treeview" routerLinkActive = 'is-expanded'>
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">ฐานบริษัท</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu" routerLinkActive = 'is-expanded'>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Company] " routerLinkActive = 'active'>
                        <i class="icon fa fa-circle-o"></i> รายชื่อบริษัท
                    </a>
                </li>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.CateCompany]" routerLinkActive = 'active'>
                        <i class="icon fa fa-circle-o"></i> สมัคสมาชิกบริษัท
                    </a>
                </li>
            </ul>
        </li>




    </ul>
</aside>
