<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Login</h1>
    </div>
    <div class="login-box">
      <form class="login-form" (submit)="onForgetPassword()">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>ForgotPasswoord</h3>
        <div class="form-group">
            <div class="alert alert-info" *ngIf="emailNotExists">Email doesn't exists.</div>
            <div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Email sent.</div>
          <label class="control-label">อีเมล</label>
          <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" placeholder="กรุณากรอกอีเมล">
        </div>

        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>RESET</button>
        </div>

        <div class="mt-3 text-center semibold-text">
          <a [routerLink]="['/',Url.Login]"> Back To Login</a>
        </div>
      </form>

    </div>
  </section>
