<app-auth-content>
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-user"></i> ข้อมูลส่วนตัว
            </h1>
            <p>หน้าแก้ไขข้อมูลส่วนตัว</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-home fa-lg"></i>
            </li>
            <li class="breadcrumb-item">
                <a href="#">ข้อมูลส่วนตัว</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <!-- ส่วนหัว -->
                <div class="tile-title-w-btn">
                    <h3 class="title">
                        <i class="fa fa-edit"></i> แก้ไขข้อมูลส่วนตัว
                    </h3>
                    <p>
                        <button (click)="openModal(template)" type="button" class="btn btn-primary icon-btn">
                            <i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน
                        </button>
                    </p>
                </div>

                <!-- ส่วนฟอร์ม -->
                <div class="tile-body">
                    <form [formGroup]="form" (submit)="onUpdateUserInfo()">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <img *ngIf="!form.value.partImage" src="assets/images/no-image-profile.png" class="img-fluid img-thumbnail">
                                    <img *ngIf="form.value.partImage" [src]="form.value.partImage" class="img-fluid img-thumbnail">
                                </div>
                                <div class="form-group">
                                    <input type="file" (change)="onConvertImage(inputFile)" (change)="uploadService.fileChangeEvent($event)" #inputFile>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">อีเมล์</label>
                                    <input type="text" class="form-control" formControlName="email">
                                </div>
                                <div class="form-group">
                                    <label for="">หมายเลขบัตรประชาชน</label>
                                    <input type="text" class="form-control" formControlName="idcard">
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">ชื่อ</label>
                                            <input type="text" class="form-control" formControlName="firstName">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">นามสกุล</label>
                                            <input type="text" class="form-control" formControlName="lastName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">วันเกิด</label>
                                            <input bsDatepicker type="text" class="form-control" formControlName="birthDay" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                          <label for="">เพศ</label>
                                          <select class="form-control" formControlName="gender">
                                              <option value="">เลือกเพศ</option>
                                              <option *ngFor="let item of genderItem" [value]="item">
                                                  {{ item }}
                                              </option>
                                          </select>
                                      </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">สัญชาติ</label>
                                            <select class="form-control" formControlName="nationality">
                                                <option value="">เลือกสัญชาติ</option>
                                                <option *ngFor="let item of nationalityItem" [value]="item">
                                                    {{ item }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">ศาสนา</label>
                                            <select class="form-control" formControlName="religion">
                                                <option value="">ศาสนา</option>
                                                <option *ngFor="let item of religionItem" [value]="item">
                                                    {{ item }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="">เบอร์โทรศํพท์</label>
                                            <input type="text" class="form-control" formControlName="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">ที่อยู่ปัจจุบัน</label>
                                    <textarea type="text" class="form-control" formControlName="address"> </textarea>
                                </div>



                            </div>
                        </div>
                        <hr>
                        <h3 class="title">
                            <i class="fa fa-edit"></i> การศึกษา
                        </h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="">การศึกษา</label>
                                  <select class="form-control" formControlName="education">
                                      <option value="">เลือกการศึกษา</option>
                                      <option *ngFor="let item of educationItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">สถาบันศึกษา</label>
                                    <input type="text" class="form-control" formControlName="institute">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">คณะ</label>
                                    <input type="text" class="form-control" formControlName="faculty">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">สาขา</label>
                                    <input type="text" class="form-control" formControlName="branch">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="">ปีที่เริมการศึกษา</label>
                                  <select class="form-control" formControlName="startyearEducation">
                                      <option value="">ปีที่เริมการศึกษา</option>
                                      <option *ngFor="let item of startyearEducationItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="">ปีที่จบการศึกษา</label>
                                  <select class="form-control" formControlName="endyearEducation">
                                      <option value="">ปีที่จบการศึกษา</option>
                                      <option *ngFor="let item of startyearEducationItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">เกรดเฉลี่ย</label>
                                    <input type="text" class="form-control" formControlName="gpaEducation">
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h3 class="title">
                            <i class="fa fa-edit"></i> ประวัติการทำงานล่าสุด
                        </h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="">ระยะเวลาตั้งแต่</label>
                                  <select class="form-control" formControlName="startmonthJobexp">
                                      <option value="">ระยะเวลาตั้งแต่</option>
                                      <option *ngFor="let item of startmonthJobexpItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="">ปี (พ.ศ)</label>
                                  <select class="form-control" formControlName="startyearhJobexp">
                                      <option value="">ปี (พ.ศ)</option>
                                      <option *ngFor="let item of startyearEducationItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="">จนถึง</label>
                                  <select class="form-control" formControlName="endmonthJobexp">
                                      <option value="">จนถึง</option>
                                      <option *ngFor="let item of startmonthJobexpItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                  <label for="">ปี (พ.ศ)</label>
                                  <select class="form-control" formControlName="endyearJobexp">
                                      <option value="">ปี (พ.ศ)</option>
                                      <option *ngFor="let item of startyearEducationItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">ชื่อบริษัท</label>
                                    <input type="text" class="form-control" formControlName="companyNameJobexp">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">ตำแหน่ง</label>
                                    <input type="text" class="form-control" formControlName="careerJobexp">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="">เงินเดือน</label>
                                  <select class="form-control" formControlName="salaryJobexp">
                                      <option value="">เลือกเงินเดือน</option>
                                      <option *ngFor="let item of salaryJobexpItem" [value]="item">
                                          {{ item }}
                                      </option>
                                  </select>
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                                <label for="">ลักษณะงานที่ทำ</label>
                              <textarea type="text" class="form-control" formControlName="descriptionJobexp"> </textarea>
                            </div>

                        <hr>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> บันทึกข้อมูลโปรไฟล์
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</app-auth-content>


<ng-template #template>
    <app-change-password [modalRef]="modalRef"></app-change-password>
</ng-template>
