<app-auth-content>
  <div class="app-title">
      <div>
          <h1>
              <i class="fa fa-users"></i> รายการพนักงานบริษัท</h1>
          <p>หน้าแสดงรายการ พนักงาน ค้นหา และแก้ไข</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
              <i class="fa fa-home fa-lg"></i>
          </li>
          <li class="breadcrumb-item">
              <a >รายการพนักงานบริษัท</a>
          </li>
      </ul>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="tile">
              <!-- ส่วนหัว -->
              <div class="tile-title-w-btn">
                  <h3 class="title">
                      <i class="fa fa-list"></i> รายการข้อมูลพนักงาน
                  </h3>
                  <!-- ค้นหา -->
                  <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-prepend" dropdown>
                              <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                  {{ serachType.value }}
                                  <span class="caret"></span>
                              </button>
                              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                  <li *ngFor="let item of searchTypeItems" role="menuitem">
                                      <a class="dropdown-item" (click)="serachType = item">
                                          {{ item.value }}
                                      </a>
                                  </li>
                              </ul>
                          </div>

                          <div [ngSwitch]="serachType.key">
                              <input *ngSwitchCase="'updated'" bsDaterangepicker placement="left" type="text" [(ngModel)]="searchText" class="form-control"
                                  placeholder="ค้นหาข้อมูล">
                              <input *ngSwitchDefault type="text" [(ngModel)]="searchText" class="form-control" placeholder="ค้นหาข้อมูล">
                          </div>

                          <div class="input-group-append">
                              <button (click)="onSearchItem()" class="btn btn-primary" type="button">
                                  <i class="fa fa-search"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tile-body" *ngIf="items">
                  <div class="table-responsive">
                      <table class="table table-striped" [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="5">
                          <!-- Head -->
                          <thead>
                            <tr>
                                <th>รหัสพนักงาน</th>
                                <th>ชื่อ</th>
                                <th>นามสกุล</th>
                                <th>เพศ</th>
                                <th>ตำแหน่งงาน</th>
                                <th>เงินเดือน</th>
                                <th>เบอร์โทรศัพท์</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- Body -->
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>{{ item.employeeId }}</td>
                                <td>{{ item.user.firstName }}</td>
                                <td>{{ item.user.lastName }}</td>
                                <td>{{ item.user.gender }}</td>
                                <td>{{  item.jobposition }}</td>
                                <td>{{  item.sarary }}</td>
                                <td>{{  item.user.phone }}</td>
                                <td class="text-right">

                                    <i (click)="onUpdateEmpoyee(item)" class="fa fa-edit cur"></i>
                                    <span> | </span>
                                    <i (click)="onDeleteEmployee(item)" class="fa fa-trash cur"></i>
                                </td>
                            </tr>
                        </tbody>
                          <!-- Foot -->
                          <tfoot>
                              <tr>
                                  <td colspan="8">
                                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                  </td>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</app-auth-content>

