<app-auth-content>
  <div class="app-title">
      <div>
          <h1>
              <i class="fa fa-user"></i> แก้ไขข้อมูลพนักงาน
          </h1>
          <p>หน้าแก้ไขข้อมูลพนักงาน ตำแหน่ง และ เงินเดือน</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">
              <i class="fa fa-home fa-lg"></i>
          </li>
          <li class="breadcrumb-item">
              <a >ข้อมูลพนักงาน</a>
          </li>
      </ul>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="tile">
              <!-- ส่วนหัว -->
              <div class="tile-title-w-btn">
                  <h3 class="title">
                      <i class="fa fa-edit"></i> แก้ไขข้อมูลพนักงาน
                  </h3>
                  <p>
                      <button (click)="onCommentEmployee(employeeId)" type="button" class="btn btn-primary icon-btn">
                          <i class="fa fa-key"></i> กรอกข้อมูลประพฤติการทำงานของพนักงาน
                      </button>
                  </p>
              </div>

              <!-- ส่วนฟอร์ม -->
              <div class="tile-body">
                  <form [formGroup]="form" (submit)="onUpdateEmployee()">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <img *ngIf="!form.value.partImage" src="assets/images/no-image-profile.png" class="img-fluid img-thumbnail">
                                  <img *ngIf="form.value.partImage" [src]="form.value.partImage" class="img-fluid img-thumbnail">
                              </div>

                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="">รหัสพนักงาน</label>
                                  <input type="text" class="form-control" formControlName="employeeId" readonly>
                              </div>

                              <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">ชื่อพนักงาน</label>
                                        <input type="text" class="form-control" formControlName="firstNameEmployee">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">นามสกุลพนักงาน</label>
                                        <input type="text" class="form-control" formControlName="lastNameEmployee">
                                    </div>
                                </div>
                            </div>

                              <div class="row">
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="">ตำแหน่ง</label>
                                          <input type="text" class="form-control" formControlName="jobposition">
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="">เงินเดือน</label>
                                          <input type="text" class="form-control" formControlName="sarary">
                                      </div>
                                  </div>
                              </div>




                          </div>
                      </div>

                      <hr>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">
                              <i class="fa fa-save"></i> บันทึกข้อมูลโปรไฟล์
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</app-auth-content>
